<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <title>Tsoha Keikat</title>
</head>

<body>
    <section class="hero is-primary is-bold">
        <div class='hero-body'>
            <div class='container has-text-centered'>
                <h1 class="title">Tsoha-keikat</h1>
                <h5 class="subtitle">A DB Project</h5>
            </div>
        </div>
    </section>
    <nav class='breadcrumb is-centered'>
        <ul>
            <li><a href="{{url_for('events_create')}}">New Event</a></li>
            <li><a href="{{url_for('events_index')}}">List Events</a></li>
            <li><a href="{{url_for('auth_login')}}">Log In</a></li>
        </ul>
    </nav>
    {% block body %}
    <p>
        This should never be visible
    </p>
    {% endblock %}
</body>

</html>