{% extends "layout.html" %}
{% from 'field_macro.html' import render_field %}

{% block body %}
<section class='section'>
    <!-- Login form with error message support -->
    <div class='container'>
        {% if error %}
        <div class='notification is-danger'>
            {{error}}
        </div>
        {% endif %}
        <h3 class='is-size-3'>Sign In!</h3>
        <form method="POST" action="{{ url_for('auth_login') }}">

            {{render_field(form.email)}}

            {{render_field(form.password, type='password')}}

            <div class="field">
                <input class="button is-primary" type="submit" value="Sign In" />
            </div>
        </form>
    </div>
    <!-- End login form -->
</section>
<!-- Prompt to register -->
<div class='container'>
    <h4 class='is-size-4'>New user?</h4>
    <a href="{{url_for('auth_create')}}" class='button is-primary'>Sign Up!</a>
</div>
{% endblock %}