{% extends "layout.html" %}
{% from 'field_macro.html' import render_field %}

{% block body %}
<section class='section'>
    <!-- Registration form with error message support -->
    <div class='container'>
        {% if error %}
        <div class='notification is-danger'>
            {{error}}
        </div>
        {% endif %}
        <h3 class='is-size-3'>Sign Up!</h3>
        <form method="POST" action="{{ url_for('auth_create') }}">

            {{render_field(form.email)}}

            {{render_field(form.password, type='password')}}

            <div class='field'>
                {{ form.admin.label(class_='label') }}
                {% if form.admin.data %}
                    {{ form.admin(type='checkbox', value=form.admin.data) }}
                {% else %}
                    {{ form.admin(type='checkbox') }}
                {% endif %}
            </div>

            <div class="field">
                <input class="button is-primary" type="submit" value="Sign Up" />
            </div>
        </form>
    </div>
    <!-- End registration form -->
</section>
<!-- Prompt to log in -->
<div class='container'>
    <h4 class='is-size-4'>Already have an account?</h4>
    <a href="{{url_for('auth_login')}}" class='button is-primary'>Sign In!</a>
</div>
{% endblock %}