{% extends "layout.html" %}
{% block body %}

<section class="section">
    <div class='container'>
        <h2 class='is-size-2'>{{performer.name}}</h2>
        <h3 class='is-size-3'>{{performer.genre}}</h3>
        <a class="button is-info" href="{{url_for('performers_modify', performer_id=performer.id)}}">
            Modify
        </a>

        <div class='container'>
            <h4 class='is-size-4'>Events</h4>
            <table class="table is-bordered is-striped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Venue</th>
                        <th>Date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for event in events %}
                    <tr>
                        <td>{{ event.name }}</td>
                        <td>{{ event.venue }}</td>
                        <td>{{ event.date }}</td>
                        {% if user.id == event.account.id or user.admin == True %}
                        <td><a href="{{url_for('events_modify', event_id=event.id)}}">
                                <span class="icon"><i class="far fa-edit"></i></span>
                            </a></td>
                        <td><a href="{{url_for('events_delete', event_id=event.id)}}">
                                <span class="icon has-text-danger"><i class="fas fa-trash"></i></span>
                            </a></td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</section>
{% endblock %}