{% extends "layout.html" %}
{% block body %}

<section class="section">
    <div class='container'>
        <h3 class='is-size-3'>{{performer.name}}</h3>
        <h4 class='is-size-4'>{{performer.genre}}</h4>
        {% if user.id == performer.account_id or user.admin == True %}
        <a class="button is-info" href="{{url_for('performers_modify', performer_id=performer.id)}}">
            Modify
        </a>
        {% endif %}
        <div class='container'>
            <h3 class='is-size-3'>Events</h3>
            <p>This performer currently has {{count}} event(s) scheduled.</p>
            {% if events %}
            <table class="table is-bordered is-striped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Venue</th>
                        <th>Date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for event in events %}
                    <tr>
                        <td>{{ event.name }}</td>
                        <td>{{ event.venue }}</td>
                        <td>{{ event.date }}</td>
                        {% if user.id == event.account or user.admin == True %}
                        <script>
                            console.log("{{user.id}}")
                            console.log
                        </script>
                        <td><a href="{{url_for('events_modify', event_id=event.id)}}">
                                <span class="icon"><i class="far fa-edit"></i></span>
                            </a></td>
                        <td><a href="{{url_for('events_delete', event_id=event.id)}}">
                                <span class="icon has-text-danger"><i class="fas fa-trash"></i></span>
                            </a></td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
                <p>No events scheduled for this performer.</p>
                <a href="{{url_for('events_create')}}" class="button is-success">Add event!</a>
            {% endif %}
        </div>
    </div>
</section>
{% endblock %}