{% extends "layout.html" %}
{% block body %}
<article class='message is-danger'>
    <div class='message-header'>
        <p>Warning!</p>
    </div>
    <div class='message-body'>
        <p>You are about to delete the following event:</p>
        <table class="table">
            <thead>
                <tr>
                    <th>Event</th>
                    <th>Performer</th>
                    <th>Venue</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ event.name }}</td>
                    <td>{{ event.performer }}</td>
                    <td>{{ event.venue }}</td>
                    <td>{{ event.date }}</td>
                </tr>
            </tbody>
        </table>
        <nav class='level'>
            <a href="{{url_for('events_index')}}" class='button is-large is-success'>Cancel</a>
            <form method="POST" action="{{ url_for('events_delete', event_id=event.id) }}">
                <input class="button is-danger is-small" type="submit" value="Delete" />
            </form>
        </nav>
    </div>
</article>
{% endblock %}