{% extends "layout.html" %}

{% block body %}
  <table>
    <tr>
      <th>Event</th>
      <th>Performer</th>
      <th>Venue</th>
      <th>Date</th>
    </tr>
    {% for event in events %}
    <tr>
      <td>{{ event.name }}</td>
      <td>{{ event.performer }}</td>
      <td>{{ event.venue }}</td>
      <td>{{ event.date }}</td>
      <td><button type="button">
          <a href="{{url_for('events_modify', event_id=event.id)}}">Modify</a>
      </button></td>
    </tr>
    {% endfor %}
  </table>
{% endblock %}