{% extends "layout.html" %}

{% block body %}
<section class="section">
    <form method="POST" action="{{ url_for('events_update', event_id=event.id) }}">
        <div class="field">
            <label class="label" for="nameInput">Event Name: </label>
            <input class="input" type="text" id="nameInput" name="name" value="{{ event.name }}" /><br>
        </div>

        <div class="field">
            <label class="label" for="venueInput">Venue: </label>
            <input class="input" type="text" id="venueInput" name="venue" value="{{ event.venue }}" /><br>
        </div>

        <div class="field">
            <label class="label" for="performerInput">Performer: </label>
            <input class="input" type="text" id="performerInput" name="performer" value="{{ event.performer }}" /><br>
        </div>

        <div class="field">
            <label class="label" for="dateInput">Date: </label>
            <input class="input" type="date" id="dateInput" name="date" value="{{ event.date }}" /><br>
        </div>

        <div class="field">
            <input class="button is-info" type="submit" value="Save changes" />
        </div>
    </form>
</section>
{% endblock %}