{% extends "layout.html" %}

{% block body %}
<section class="section">
    <form method="POST" action="{{ url_for('events_create') }}">
        <div class="field">
            {{ form.name.label(class_='label') }}
            {{ form.name(class_='input') }}
        </div>
        
        <div class="field">
            {{ form.performer.label(class_='label') }}
            {{ form.performer(class_='input') }}
        </div>

        <div class="field">
            {{ form.venue.label(class_='label') }}
            {{ form.venue(class_='input') }}
        </div>

        <div class="field">
            {{ form.date.label(class_='label') }}
            {{ form.date(class_='input', type='date') }}
        </div>

        <div class="field">
            <input class="button is-info" type="submit" value="Add a new Event" />
        </div>
    </form>
</section>
{% endblock %}